main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
i {
  margin: 5px;
}
form {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input {
  width: 300px;
  height: 40px;
  background-color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 3px rgba(172, 172, 172, 0.801);
  font-size: 18px;
  outline: none;
  transition: transform 0.5s ease;
}
input:hover {
  background-color: rgb(221, 221, 221);
  transform: scale(1.2);
}
.subBtn {
  width: 80px;
  height: 70px;
  border-radius: 30px;
  background-color: rgb(158, 191, 253);
}
.textBar {
  text-align: center;
}
